// header
.view {
  margin-left: 10px;
}

// content araa
.main {
  margin-top: 60px;
  color: gray;
  height: 100%;
}

// map araa
.map-area {
  max-height: 640px;
  max-width: 640px;
}
.custom-map {
  height: 90vh;
}

// wizard area
.preference-button {
  color: gray;
}

.chosen {
  border-color: green;
  background-color: gray;
}
