// header
.view {
  margin-left: 10px;
}

// content araa
.main {
  margin-top: 60px;
  color: gray;
}

.preference-button {
  color: gray;
}

.chosen {
  border-color: green;
  background-color: gray;
}
